@import url("https://fonts.cdnfonts.com/css/lato"); /* ----- COULEURS DU LOGO ---- */
/* ----- DECLINAISONS DU GRIS LOGO ---- */
/* ----- DECLINAISONS DU BLEU LOGO ---- */
/* ----- COULEURS DES GAMMES ---- */
/* ----- LES TYPOGRAPHIES ---- */
@import url("https://use.typekit.net/sjf3yjy.css");
/* ----- LES MIXINS DE LA TYPO LATO ---- */
/* ----- LES MIXINS DE LA TYPO CALLUNA ---- */
/* ----- LES MIXINS DU FOOTER---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body, html, #app {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #D6D6D6;
}

main {
  min-height: 100vh;
  height: auto;
  max-width: 100vw;
  padding-bottom: 181px;
  display: grid;
  justify-items: center;
}

#phone-web-version {
  display: none;
}

footer {
  z-index: 5;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-rows: 130px 50px;
  transition: ease 0.2s;
}
footer #footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
}
footer #footer-wrapper .footer-content {
  width: calc(100% - 54px);
  height: calc(100% - 20px);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}
footer #footer-wrapper .footer-content .for-first-area {
  display: grid;
  grid-template-columns: 15% 1fr 10%;
  grid-column-gap: 15px;
  align-items: center;
}
footer #footer-wrapper .footer-content .for-first-area .menu-element {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}
footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
}
footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible a {
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #1C3572;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 22px;
  display: flex;
  align-items: center;
}
footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible a::before {
  content: "";
  display: inline-block;
  background-color: #1C3572;
  width: 0px;
  height: 20px;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible a:hover:before {
  content: "";
  display: inline-block;
  background-color: #1C3572;
  width: 5px;
  height: 20px;
  margin-right: 7px;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #070D1C;
  font-size: 15px;
  width: 70%;
}
footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible a {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1C3572;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible svg {
  fill: #1C3572;
}
footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible:hover {
  background-color: #1C3572;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible:hover svg {
  fill: #F1F1F1;
}
footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible:hover a {
  color: #F1F1F1;
}
footer #footer-wrapper .footer-content .for-second-area {
  display: none;
  grid-template-columns: 15% 1fr 10%;
  grid-column-gap: 15px;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-logo .section-hidden {
  display: grid;
  height: fit-content;
  grid-row-gap: 10px;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-logo .section-hidden a {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #070D1C;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-logo .section-hidden a::before {
  content: "";
  display: inline-block;
  background-color: #070D1C;
  width: 0px;
  height: 100%;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-logo .section-hidden a:hover:before {
  content: "";
  display: inline-block;
  background-color: #070D1C;
  width: 3px;
  height: 100%;
  margin-right: 7px;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-element {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-element .section-hidden {
  display: grid;
  height: fit-content;
  grid-row-gap: 10px;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-element .section-hidden a {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #070D1C;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-element .section-hidden a::before {
  content: "";
  display: inline-block;
  background-color: #070D1C;
  width: 0px;
  height: 100%;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-second-area .under-menu-element .section-hidden a:hover:before {
  content: "";
  display: inline-block;
  background-color: #070D1C;
  width: 3px;
  height: 100%;
  margin-right: 7px;
  transition: ease 0.2s;
}
footer #footer-wrapper .footer-content .for-third-area {
  display: none;
  grid-template-columns: 15% 1fr 15%;
  grid-column-gap: 15px;
}
footer #footer-wrapper .footer-content .for-third-area .footer-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  color: #1C3572;
  gap: 5px;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element {
  display: grid;
  grid-template-columns: 32% 66%;
  justify-content: space-between;
  align-items: end;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element .adresse-shop {
  display: grid;
  align-items: flex-end;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  color: #070D1C;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element .adresse-shop h4 {
  color: #1C3572;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element .horaires {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element .horaires .day-horaire {
  display: grid;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element .horaires .day-horaire h5 {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #070D1C;
  margin-bottom: 7px;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element .horaires .day-horaire p {
  display: grid;
  grid-row-gap: 5px;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #070D1C;
  font-size: 12px;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element-bis {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element-bis .telephone {
  display: grid;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element-bis .telephone h4 {
  color: #1C3572;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
footer #footer-wrapper .footer-content .for-third-area .shop-element-bis .telephone .details-tel p {
  font-size: 12px;
  color: #070D1C;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
footer #footer-bloc-lien-express {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: ease 0.3s;
}
footer #footer-bloc-lien-express .lien-express-1 {
  height: auto;
  transition: ease 0.3s;
  background-color: #848585;
}
footer #footer-bloc-lien-express .lien-express-1 a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: 600;
  transition: ease 0.3s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #footer-bloc-lien-express .lien-express-1:hover {
  background-color: #D6D6D6;
}
footer #footer-bloc-lien-express .lien-express-1:hover a {
  color: #848585;
}
footer #footer-bloc-lien-express .lien-express-2 {
  height: auto;
  transition: ease 0.3s;
  background-color: #203C81;
}
footer #footer-bloc-lien-express .lien-express-2 a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: 600;
  transition: ease 0.3s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer.hover-footer {
  grid-template-rows: 420px 50px;
}
footer.hover-footer #footer-wrapper .footer-content .for-second-area {
  display: grid;
}
footer.hover-footer #footer-wrapper .footer-content .for-third-area {
  display: grid;
}

#app > main > div > div > div.vueperslides__parallax-wrapper > div > div > div.vueperslide.vueperslide--active.vueperslide--visible > div > div.vueperslide__content {
  width: 40%;
  color: #F1F1F1 !important;
  font-family: "lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.vueperslides {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.vueperslides__inner {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vueperslide__content-wrapper {
  margin-left: 26px !important;
  color: #F1F1F1 !important;
}
.vueperslide__content-wrapper .vueperslide__title {
  font-size: 105px;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.vueperslide {
  white-space: normal;
  background-size: cover;
  flex-shrink: 0;
  display: block;
  width: 100%;
  position: relative;
}

.vueperslide--clone-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
}

.vueperslides--rtl .vueperslide--clone-1 {
  right: auto;
  left: 100%;
}

.vueperslide[href] {
  -webkit-user-drag: none;
}

.vueperslide__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.vueperslide__loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
  height: 100%;
  margin: auto;
}

.vueperslides--fade .vueperslide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: ease-in-out opacity;
  transition-duration: inherit;
}

.vueperslides--fade .vueperslide--active,
.vueperslides--fade .vueperslide--visible {
  z-index: 1;
  opacity: 1;
}

.vueperslides--slide-image-inside .vueperslide {
  overflow: hidden;
}

.vueperslides--3d .vueperslide {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.vueperslides--3d .vueperslide--previous-slide,
.vueperslides--3d .vueperslide--active,
.vueperslides--3d .vueperslide--next-slide {
  z-index: 0;
}

.vueperslides--3d .vueperslide--active {
  z-index: 1;
}

.vueperslides--3d .vueperslide[face=front] {
  transform: rotateY(90deg) translate(-50%) rotateY(-90deg);
}

.vueperslides--3d .vueperslide[face=right] {
  transform: rotateY(90deg) translate(50%);
  transform-origin: 100% 0;
}

.vueperslides--3d .vueperslide[face=back] {
  transform: rotateY(270deg) translate(-50%) rotateY(-90deg);
}

.vueperslides--3d .vueperslide[face=left] {
  transform: rotateY(270deg) translate(-50%);
  transform-origin: 0 0;
}

.vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:before,
.vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -1em;
  right: -1em;
  height: 2em;
  z-index: 2;
}

.vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:after {
  top: 100%;
  bottom: auto;
}

.vueperslides__arrows {
  display: none;
  color: #fff;
}

.vueperslides__arrows--outside {
  color: currentColor;
}

.vueperslides__arrow {
  top: 50%;
  background-color: transparent;
  border: none;
  opacity: 0.7;
}

.vueperslides__arrow--prev,
.vueperslides--rtl .vueperslides__arrow--next {
  right: auto;
  left: 0.5em;
}

.vueperslides__arrow--next,
.vueperslides--rtl .vueperslides__arrow--prev {
  left: auto;
  right: 0.5em;
}

.vueperslides__arrow:hover {
  opacity: 1;
}

.vueperslides__arrows--outside .vueperslides__arrow--prev,
.vueperslides--rtl .vueperslides__arrows--outside .vueperslides__arrow--next {
  right: auto;
  left: -3.5em;
}

.vueperslides__arrows--outside .vueperslides__arrow--next,
.vueperslides--rtl .vueperslides__arrows--outside .vueperslides__arrow--prev {
  left: auto;
  right: -3.5em;
}

.vueperslides__paused {
  top: 0.7em;
  right: 0.7em;
  opacity: 0;
  z-index: 1;
}

.vueperslides:hover .vueperslides__paused {
  opacity: 1;
}

.vueperslides__bullets:not(.vueperslides__bullets--outside) {
  color: #fff;
}

.vueperslides__bullet {
  margin: 1em 0.6em;
  padding: 0;
  border: none;
  background: none;
}

.vueperslides__bullet .default {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid currentColor;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  box-sizing: border-box;
}

.vueperslides__bullet .default span {
  display: none;
}

.vueperslides__bullet--active .default {
  border-width: 6px;
}

.vueperslide,
.vueperslide__image {
  background-position: center;
}

.vueperslide__video {
  outline: none;
}

.vueperslide--no-pointer-events:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center;
  text-align: start !important;
  color: white;
  margin-left: 26px;
}

.vueperslide__content-wrapper.parallax-fixed-content,
.vueperslide--has-image-inside .vueperslide__content-wrapper,
.vueperslide--has-video .vueperslide__content-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.vueperslides--fixed-height .vueperslides__inner,
.vueperslides--fixed-height .vueperslides__parallax-wrapper,
.vueperslides--fixed-height .vueperslide {
  height: inherit;
}

.vueperslides--fixed-height .vueperslides__parallax-wrapper {
  padding-bottom: 0 !important;
}

.vueperslides--fixed-height.vueperslides--bullets-outside {
  margin-bottom: 4em;
}

.vueperslides__parallax-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.vueperslides--3d .vueperslides__parallax-wrapper {
  overflow: visible;
}

.vueperslides__track {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.vueperslides--parallax .vueperslides__track {
  height: 200%;
  transform: translateY(0);
}

.vueperslides--touchable .vueperslides__track {
  cursor: ew-resize;
  cursor: grab;
}

.vueperslides--touchable .vueperslides__track--mousedown,
.vueperslides--touchable .vueperslides__track--dragging {
  cursor: grabbing;
}

.vueperslides--3d .vueperslides__track {
  overflow: visible;
  perspective: 100em;
}

.vueperslides__track-inner {
  white-space: nowrap;
  transition: 0.5s ease-in-out transform;
  height: 100%;
  display: flex;
}

.vueperslides--no-animation .vueperslides__track-inner {
  transition-duration: 0s !important;
}

.vueperslides--fade .vueperslides__track-inner {
  white-space: normal;
  transition: none;
}

.vueperslides--3d .vueperslides__track-inner {
  transform-style: preserve-3d;
}

.vueperslides__track--mousedown .vueperslides__track-inner {
  transition: 0.25s ease-in-out transform !important;
}

.vueperslides__track--dragging .vueperslides__track-inner {
  transition: none;
}

.vueperslides__arrow {
  position: absolute;
  font-size: inherit;
  color: inherit;
  text-align: center;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  z-index: 2;
  line-height: 1;
}

.vueperslides__arrow svg {
  vertical-align: middle;
  stroke: currentColor;
  fill: none;
  width: 3.5em;
  padding: 1em;
  stroke-width: 1;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.vueperslides__arrow svg:hover {
  stroke-width: 1.3;
}

.vueperslides__paused {
  position: absolute;
  transition: 0.3s ease-in-out;
}

.vueperslides__bullets {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.vueperslides__bullets--outside {
  position: relative;
}

.vueperslides__bullets button,
.vueperslides__bullet {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.vueperslides__bullets button::-moz-focus-inner,
.vueperslides__bullet::-moz-focus-inner {
  border: 0;
}

.vueperslides__fractions {
  position: absolute;
  top: 0.8em;
  left: 0.5em;
  z-index: 2;
  padding: 0.2em 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.vueperslides__progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 6px;
  color: rgba(0, 0, 0, 0.7019607843);
}

.vueperslides__progress > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: currentColor;
  transition: 0.3s ease-in-out;
}

#wrapper-catalog {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 110px auto;
  grid-row-gap: 26px;
  justify-items: center;
  padding-bottom: 26px;
}
#wrapper-catalog #brand-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  align-items: center;
  background: rgba(58, 59, 59, 0.5);
  justify-content: center;
  color: #E6E9F1;
}
#wrapper-catalog #brand-modal .brand-popup {
  height: 80%;
  width: 80%;
  background-color: #0E1A39;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper {
  height: calc(100% - 54px);
  width: calc(100% - 54px);
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  row-gap: 26px;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .popup-search {
  border-bottom: solid #E6E9F1 1px;
  display: flex;
  gap: 10px;
  align-items: center;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .popup-search input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .popup-search input:focus {
  color: #E6E9F1;
  outline: none;
  border: none;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .popup-search input::placeholder {
  color: #B4BED5;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  opacity: 0.3;
  font-size: 15px;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .brand-element-full {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  align-content: start;
  grid-row-gap: 10px;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .brand-element-full .brand-element-full-each {
  height: fit-content;
  width: fit-content;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .brand-element-full .brand-element-full-each i {
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .brand-element-full .brand-element-full-each .fa-circle::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 200;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  border-radius: 50%;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .brand-element-full .brand-element-full-each .fa-circle:hover::before {
  background-color: #E6E9F1;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .brand-element-full .brand-element-full-each .fa-circle:active::before {
  background-color: #E6E9F1;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .save-selection {
  display: flex;
  background-color: #E6E9F1;
  color: #0E1A39;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1px;
  transition: ease 0.2s;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .save-selection p {
  cursor: pointer;
}
#wrapper-catalog #brand-modal .brand-popup .popup-element-wrapper .save-selection:hover {
  background-color: #B4BED5;
  color: #E6E9F1;
  transition: ease 0.2s;
}
#wrapper-catalog #filters-section {
  height: auto;
  width: 100%;
  background-color: #112147;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper-catalog #filters-section #filters-wrapper {
  width: calc(100% - 52px);
  height: calc(100% - 52px);
  display: grid;
  align-content: space-between;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .title-page {
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #E6E9F1;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters {
  display: flex;
  grid-template-columns: auto auto;
  color: #E6E9F1;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .show-filter {
  display: flex;
  align-items: center;
  gap: 23px;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .show-filter svg {
  margin-right: 10px;
  stroke: #E6E9F1;
  fill: #112147;
  cursor: pointer;
  transition: ease 0.1s;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .show-filter svg:hover {
  fill: #E6E9F1;
  stroke: #112147;
  transition: ease 0.1s;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .hide-filter {
  display: none;
  align-items: center;
  gap: 23px;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .hide-filter svg {
  margin-right: 10px;
  stroke: #E6E9F1;
  fill: #112147;
  cursor: pointer;
  transition: ease 0.1s;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .hide-filter svg:hover {
  fill: #E6E9F1;
  stroke: #112147;
  transition: ease 0.1s;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .remove-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 10px;
  cursor: pointer;
}
#wrapper-catalog #filters-section #filters-wrapper .filter-content .filters .remove-filters #filter-selected p {
  background-color: #E6E9F1;
  color: #112147;
  padding: 10px;
  text-align: center;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display {
  display: none;
  color: #E6E9F1;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters {
  display: grid;
  grid-template-columns: 20% auto;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-intro {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 12px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-intro h3 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-intro p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  align-content: flex-end;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element .departement-element-each {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element .departement-element-each i {
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element .departement-element-each .fa-circle::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 200;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  border-radius: 50%;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element .departement-element-each .fa-circle:hover::before {
  background-color: #E6E9F1;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element .departement-element-each .fa-circle:active::before {
  background-color: #E6E9F1;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-intro {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 12px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-intro h3 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-intro p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-full-list {
  background-color: #E6E9F1;
  color: #112147;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  align-self: flex-end;
  transition: ease 0.2s;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-full-list p {
  text-align: center;
  cursor: pointer;
}
#wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-full-list:hover {
  background-color: #B4BED5;
  color: #E6E9F1;
  transition: ease 0.2s;
}
#wrapper-catalog #catalog-content {
  width: calc(100% - 54px);
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-row-gap: 26px;
}
#wrapper-catalog #catalog-content #section-fixed {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 26px;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper {
  background-color: #203C81;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E6E9F1;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  align-items: center;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside .first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside .first-part h2 {
  font-family: "lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside .first-part p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside .link-main {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside .link-main a {
  color: #E6E9F1;
  text-decoration: none;
  border: 2px solid #E6E9F1;
  padding: 10px;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 15px;
  transition: ease 0.3s;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-wrapper .main-catalog-inside .link-main a:hover {
  background-color: #E6E9F1;
  color: #203C81;
  transition: ease 0.3s;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper {
  background-color: #848585;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E6E9F1;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  align-items: center;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside .first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside .first-part h2 {
  font-family: "lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside .first-part p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside .link-main {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside .link-main a {
  color: #E6E9F1;
  text-decoration: none;
  border: 2px solid #E6E9F1;
  padding: 10px;
  text-transform: uppercase;
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 15px;
  transition: ease 0.3s;
}
#wrapper-catalog #catalog-content #section-fixed #main-catalog-office-wrapper .main-catalog-inside .link-main a:hover {
  background-color: #E6E9F1;
  color: #848585;
  transition: ease 0.3s;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog {
  display: grid;
  width: 100%;
  height: auto;
  grid-column-gap: 26px;
  grid-auto-rows: 500px;
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-columns: 500px;
  grid-row-gap: 26px;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper {
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .catalog-cover {
  position: relative;
  height: 100%;
  width: 100%;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .catalog-cover img {
  height: 100%;
  width: 100%;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element {
  height: 180px;
  width: 25%;
  background-color: #203C81;
  flex-direction: column;
  color: #E6E9F1;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 10%;
  height: auto;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .first-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .first-part h2 {
  font-family: "lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .first-part p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .link-main {
  width: auto;
  height: auto;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .link-main p {
  color: #E6E9F1;
  margin-bottom: 1%;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .link-main a {
  color: #E6E9F1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E9F1;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.5;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .link-main a svg {
  fill: #E6E9F1;
  stroke: #E6E9F1;
  transition: ease 0.2s;
}
#wrapper-catalog #catalog-content #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element .supplier-catalog-inside .link-main a:hover {
  opacity: 1;
}
#wrapper-catalog #back-to-top {
  position: fixed;
  right: 20px;
  border-radius: 10px;
  background-color: #8392B9;
  color: #E6E9F1;
  bottom: 195px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.2s;
}
#wrapper-catalog #back-to-top #back-to-top-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
#wrapper-catalog #back-to-top #back-to-top-container a svg {
  fill: #E6E9F1;
}
#wrapper-catalog #back-to-top #back-to-top-container a p {
  display: none;
}
#wrapper-catalog #back-to-top.back-to-top-hover {
  height: 80px;
  transition: ease 0.2s;
  background-color: #E6E9F1;
}
#wrapper-catalog #back-to-top.back-to-top-hover #back-to-top-container a {
  text-decoration: none;
}
#wrapper-catalog #back-to-top.back-to-top-hover #back-to-top-container a svg {
  fill: #8392B9;
}
#wrapper-catalog #back-to-top.back-to-top-hover #back-to-top-container a p {
  display: block;
  color: #8392B9;
}

#wrapper-catalog.hover-filter {
  grid-template-rows: 220px 1fr;
}
#wrapper-catalog.hover-filter #filters-section #filters-wrapper .filters-to-display {
  display: grid;
}

#portfolio-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 110px auto;
  grid-row-gap: 26px;
  justify-items: center;
  padding-bottom: 26px;
}
#portfolio-wrapper #portfolio-filter-section {
  height: 100%;
  width: 100%;
  background-color: #112147;
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper {
  width: calc(100% - 52px);
  height: calc(100% - 52px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .title-page-portfolio {
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #E6E9F1;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio {
  display: flex;
  grid-template-columns: auto auto;
  color: #E6E9F1;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .show-filter-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .show-filter-portfolio svg {
  margin-right: 10px;
  stroke: #E6E9F1;
  fill: #112147;
  cursor: pointer;
  transition: ease 0.1s;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .show-filter-portfolio svg:hover {
  fill: #E6E9F1;
  stroke: #112147;
  transition: ease 0.1s;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .hide-filter-portfolio {
  display: none;
  align-items: center;
  justify-content: space-between;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .hide-filter-portfolio svg {
  margin-right: 10px;
  stroke: #E6E9F1;
  fill: #112147;
  cursor: pointer;
  transition: ease 0.1s;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .hide-filter-portfolio svg:hover {
  fill: #E6E9F1;
  stroke: #112147;
  transition: ease 0.1s;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .remove-filters-portfolio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 10px;
  cursor: pointer;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .section-filter-container-portfolio .filters-portfolio .remove-filters-portfolio #filter-selected-portfolio p {
  background-color: #E6E9F1;
  color: #112147;
  padding: 10px;
  text-align: center;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .filters-to-display-portfolio {
  display: none;
  width: 100%;
  justify-items: flex-start;
  gap: 26px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #E6E9F1;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .filters-to-display-portfolio .catprojet {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .filters-to-display-portfolio .catprojet i {
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .filters-to-display-portfolio .catprojet .fa-circle::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 200;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  border-radius: 50%;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .filters-to-display-portfolio .catprojet .fa-circle:hover::before {
  background-color: #E6E9F1;
}
#portfolio-wrapper #portfolio-filter-section #element-wrapper .filters-to-display-portfolio .catprojet .fa-circle:active::before {
  background-color: #E6E9F1;
}
#portfolio-wrapper #portfolio-card-section {
  width: calc(100% - 54px);
  display: grid;
  grid-column-gap: 26px;
  grid-auto-rows: 400px;
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-columns: 400px;
  grid-row-gap: 26px;
}
#portfolio-wrapper #portfolio-card-section .project-card {
  height: auto;
  width: auto;
}
#portfolio-wrapper #portfolio-card-section .project-card img {
  height: 100%;
  width: 100%;
}
#portfolio-wrapper #portfolio-card-section div {
  height: auto;
  width: auto;
}
#portfolio-wrapper #portfolio-card-section div .project-card {
  height: 100%;
  width: 100%;
}
#portfolio-wrapper #portfolio-card-section div .project-card img {
  height: 100%;
  width: 100%;
}
#portfolio-wrapper #back-to-top {
  position: fixed;
  right: 20px;
  border-radius: 10px;
  background-color: #8392B9;
  color: #E6E9F1;
  bottom: 195px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.2s;
}
#portfolio-wrapper #back-to-top #back-to-top-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
#portfolio-wrapper #back-to-top #back-to-top-container a svg {
  fill: #E6E9F1;
}
#portfolio-wrapper #back-to-top #back-to-top-container a p {
  display: none;
}
#portfolio-wrapper #back-to-top.back-to-top-hover {
  height: 80px;
  transition: ease 0.2s;
  background-color: #E6E9F1;
}
#portfolio-wrapper #back-to-top.back-to-top-hover #back-to-top-container a {
  text-decoration: none;
}
#portfolio-wrapper #back-to-top.back-to-top-hover #back-to-top-container a svg {
  fill: #8392B9;
}
#portfolio-wrapper #back-to-top.back-to-top-hover #back-to-top-container a p {
  display: block;
  color: #8392B9;
}

#portfolio-wrapper.hover-filter-portfolio {
  grid-template-rows: 150px 1fr;
}
#portfolio-wrapper.hover-filter-portfolio #portfolio-filter-section #element-wrapper .filters-to-display-portfolio {
  display: flex;
}

#wrapper-about {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  padding-bottom: 26px;
}
#wrapper-about #about-punchline {
  width: 50%;
  height: 283px;
  position: absolute;
  left: 0;
  background-color: #203C81;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 3;
}
#wrapper-about #about-punchline h1 {
  text-align: center;
  width: 80%;
  font-size: 30px;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
#wrapper-about #about-image {
  width: 50%;
  height: 400px;
  position: absolute;
  right: 51px;
  top: 43px;
  background-color: #03060E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 4;
}
#wrapper-about #about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrapper-about #wrapper-about-main-bloc {
  background-color: white;
  width: calc(100% - 54px);
  margin-top: 26px;
  height: 650px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 2;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc {
  margin-bottom: 26px;
  width: calc(100% - 54px);
  display: grid;
  grid-row-gap: 60px;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc p {
  width: 35%;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #112147;
  line-height: 1.8;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust {
  width: 100%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 5fr 1fr;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one .title,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two .title,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one .title .svg-container,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two .title .svg-container,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three .title .svg-container {
  border: 2px solid #848585;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one .title h2,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two .title h2,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three .title h2 {
  color: #152856;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one p,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two p,
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three p {
  width: 90%;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #112147;
  line-height: 1.5;
}
#wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .logo-image {
  display: flex;
  align-items: center;
}
#wrapper-about .photo-title {
  background-color: #112147;
  width: 100%;
  height: 204px;
  color: #E6E9F1;
  position: relative;
  z-index: 0;
  margin-top: -150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#wrapper-about .photo-title .element-container {
  width: 97%;
  margin-bottom: 10px;
}
#wrapper-about .photo-title .element-container h2 {
  color: white;
  text-transform: uppercase;
}
#wrapper-about .la-galerie-photo {
  width: calc(100% - 52px);
  height: fit-content;
  display: grid;
  margin-top: 26px;
  grid-column-gap: 26px;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  grid-auto-columns: 1fr;
  grid-row-gap: 26px;
}
#wrapper-about .la-galerie-photo .gallery-grid-display {
  height: auto;
  width: auto;
}
#wrapper-about .la-galerie-photo .gallery-grid-display img {
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
#wrapper-about #back-to-top {
  position: fixed;
  right: 20px;
  border-radius: 10px;
  background-color: #8392B9;
  color: #E6E9F1;
  bottom: 195px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.2s;
}
#wrapper-about #back-to-top #back-to-top-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
#wrapper-about #back-to-top #back-to-top-container a svg {
  fill: #E6E9F1;
}
#wrapper-about #back-to-top #back-to-top-container a p {
  display: none;
}
#wrapper-about #back-to-top.back-to-top-hover {
  height: 80px;
  transition: ease 0.2s;
  background-color: #E6E9F1;
}
#wrapper-about #back-to-top.back-to-top-hover #back-to-top-container a {
  text-decoration: none;
}
#wrapper-about #back-to-top.back-to-top-hover #back-to-top-container a svg {
  fill: #8392B9;
}
#wrapper-about #back-to-top.back-to-top-hover #back-to-top-container a p {
  display: block;
  color: #8392B9;
}

@media screen and (max-width: 1650px) {
  #wrapper-catalog #filters-section #filters-wrapper .filters-to-display {
    grid-template-columns: 1fr 1fr;
  }
  #wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
  }
  #wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-intro {
    gap: 10px;
  }
  #wrapper-catalog #filters-section #filters-wrapper .filters-to-display #department-filters .departement-element {
    align-content: flex-start;
  }
  #wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
  }
  #wrapper-catalog #filters-section #filters-wrapper .filters-to-display #brand-filters .brand-intro {
    gap: 10px;
  }
  #wrapper-catalog #wrapper-supplier-catalog .supplier-card-wrapper .supplier-catalog-element {
    width: 70%;
  }
  #wrapper-catalog.hover-filter {
    grid-template-rows: 320px 1fr;
  }
  #wrapper-catalog.hover-filter #filters-section #filters-wrapper .filters-to-display {
    display: grid;
  }
}
@media screen and (max-width: 1610px) {
  #wrapper-about #about-punchline {
    height: 200px;
  }
}
@media screen and (max-width: 1540px) {
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc p {
    width: 45%;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #112147;
  }
}
@media screen and (max-width: 1410px) {
  #wrapper-about #about-image {
    height: 350px;
  }
}
@media screen and (max-width: 1380px) {
  #wrapper-about #about-punchline {
    height: 263px;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc {
    grid-row-gap: 15px;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc p {
    width: 45%;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #112147;
  }
}
@media screen and (max-width: 1360px) {
  #wrapper-about #about-punchline {
    height: 263px;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three {
    gap: 10px;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one p,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two p,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three p {
    width: 80%;
  }
}
@media screen and (max-width: 1340px) {
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one p,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two p,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three p {
    width: 85%;
  }
}
@media screen and (max-width: 1300px) {
  footer #footer-wrapper .footer-content .for-first-area {
    grid-template-columns: 20% 1fr 10%;
  }
  footer #footer-wrapper .footer-content .for-second-area {
    grid-template-columns: 20% 1fr 10%;
  }
  footer #footer-wrapper .footer-content .for-third-area {
    grid-template-columns: 20% 1fr 10%;
  }
}
@media screen and (max-width: 1285px) {
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-one p,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-two p,
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand .items-of-trust-three p {
    width: 90%;
  }
  #wrapper-about #about-punchline {
    height: 243px;
  }
}
@media screen and (max-width: 1250px) {
  #wrapper-about #about-image {
    height: 300px;
    width: 35%;
  }
  #wrapper-about #about-punchline {
    display: none;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc {
    grid-row-gap: 50px;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc .logo-for-trust .trust-brand {
    grid-template-columns: none;
    grid-row-gap: 25px;
  }
}
@media screen and (max-width: 1157px) {
  #wrapper-about #about-image {
    height: 300px;
    width: 35%;
  }
  #wrapper-about #about-punchline {
    height: 170px;
    width: 65%;
  }
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc p {
    width: 55%;
  }
}
@media screen and (max-width: 1130px) {
  footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible a {
    font-size: 20px;
    letter-spacing: 0px;
  }
  footer #footer-wrapper .footer-content .for-first-area .menu-element .section-visible p {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  footer #footer-wrapper .footer-content {
    grid-row-gap: 5px;
  }
  footer #footer-wrapper .footer-content .for-first-area {
    grid-template-columns: 20% 1fr 10%;
  }
  footer #footer-wrapper .footer-content .for-second-area {
    grid-template-columns: 20% 1fr 10%;
  }
  footer #footer-wrapper .footer-content .for-third-area {
    grid-template-columns: 20% 1fr 10%;
  }
}
@media screen and (max-width: 1070px) {
  footer #footer-wrapper .footer-content .for-first-area .logo-3D .section-visible a {
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 1045px) {
  #wrapper-about #wrapper-about-main-bloc .element-of-main-bloc p {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  main {
    display: none;
  }
  footer {
    display: none;
  }
  #phone-web-version {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("src/assets/images/Fermeturechassisverrezalfjpg_63063fb114e15.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
  }
  #phone-web-version .phone-middle {
    background-color: #1C3572;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #phone-web-version .phone-middle .phone-middle-element {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #phone-web-version .phone-middle .phone-middle-element .phone-middle-intro {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  #phone-web-version .phone-middle .phone-middle-element .phone-middle-intro h2 {
    color: #E6E9F1;
    font-family: "lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
  }
  #phone-web-version .phone-middle .phone-middle-element .phone-middle-intro p {
    color: #E6E9F1;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-catalogue {
    background-color: #848585;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
    transition: ease 0.2s;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-catalogue i {
    color: #E6E9F1;
    font-size: 20px;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-catalogue a {
    text-decoration: none;
    color: #E6E9F1;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-catalogue:hover {
    transition: ease 0.2s;
    background-color: #E6E9F1;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-catalogue:hover i {
    color: #848585;
    font-size: 20px;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-catalogue:hover a {
    color: #848585;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-whatsapp {
    padding: 20px;
    background-color: #9FA0A0;
    display: flex;
    width: 100%;
    color: #E6E9F1;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-whatsapp i {
    color: #E6E9F1;
    font-size: 20px;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-whatsapp a {
    text-decoration: none;
    color: #E6E9F1;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-whatsapp:hover {
    transition: ease 0.2s;
    background-color: #E6E9F1;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-whatsapp:hover i {
    color: #9FA0A0;
    font-size: 20px;
  }
  #phone-web-version .phone-middle .phone-middle-element .lien-express .lien-express-whatsapp:hover a {
    color: #9FA0A0;
  }
}

/*# sourceMappingURL=main.css.map */
